.Character {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .container__img {
    width: 50%;
    height: 50%;
    .Character_img {
      object-fit: cover;
      width: 100%;
    }
  }
  .Character__name {
    text-align: center;
    color: rgb(0, 195, 255);
    font-size: 18px;
  }

  .Character__location {
    font-size: 0.9rem;
    text-align: center;
  }
  .Character_button {
    border: none;
    border-radius: 5px;
    padding: 7px 8px;
    background-color: rgb(203, 212, 219);
  }
}
